#PostList{
    text-align: center;
    background-color: #828EFF;
}

#logo{
    width: 150px;
    height: 150px;
}

#posts{
    display: flex;
    justify-content: center;
    padding: 140px;
    gap: 10px;
}

#categoryChange{
    border-radius: 5px;
    background-color: #E0E3FD;
}
