.post{
    background-color: #9CA6FC;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    width: auto;
    height: 20% ;
    /*по-моєму авто набагато краще ніж якийсь певний розмір 🤔*/
}
.post:hover{
    background-color: #D1D5FC;
}

button{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: #E0E3FD;
}

button:hover{
    background-color: #959DE3;
}

